.chechAndLink {
  display: flex;
  align-items: center;
  gap: 20px;

  & a {
    font-weight: 500;
    font-size: 14px;
    color: #3f7f6d;
    text-decoration: none;
  }
}

.chekAndLinkTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;

  height: 63px;
  border-bottom: 1.2px solid #f3f4f6;
}

.main {
  border: 1.2px solid #e5e7eb;
  border-radius: 16px;
  height: auto;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding-bottom: 24px;
  max-width: calc(33.333% - 14px);
  width: calc(33.333% - 14px);

  @media (max-width: 1024px) {
    max-width: calc(50% - 14px);
    width: calc(50% - 14px);
  }

  @media (max-width: 600px) {
    max-width: 100%;
    width: 100%;
  }
}

.infoTitle {
  font-weight: 500;
  font-size: 12px;
  color: #6a7282;
  margin-bottom: 4px;
}

.infoTextWrap {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-weight: 300;
  font-size: 13px;
  color: #101828;
}

.infoTextMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;
  gap: 11px;
  margin-top: 15px;
}

.infoTextMain > * {
  flex: 1 1 calc(50% - 11px);
}

.billBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  & p:first-child {
    font-weight: 400;
    font-size: 12px;
    color: #4a5565;
  }
  & p:last-child {
    font-weight: 300;
    font-size: 14px;
    color: #101828;
  }
}

.totalBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #e5e7eb;
  padding-top: 8px;

  & p:first-child {
    font-weight: 400;
    font-size: 12px;
    color: #101828;
  }
  & p:last-child {
    font-weight: 300;
    font-size: 16px;
    color: #101828;
  }
}

.billMainBlock {
  margin-top: 50px;
  padding: 0 30px;
}

.btnsWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 17px;
  margin-top: 50px;
}

.topBtn {
  width: 100%;
  border-radius: 10px;
  padding: 10px 28px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;

  border: 1px solid #3f7f6d;
  color: #3f7f6d;
  background-color: white;
}

.bottomBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.bottomBtn {
  flex: 1;
  border-radius: 10px;
  padding: 10px 28px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
}

.leftBtn {
  background-color: #3f7f6d;
  color: white;
}

.rightBtn {
  border: 1.2px solid #ffc9c9;
  color: #c10007;
  background-color: #fef2f2;
}
