.main {
  border: 1px solid #b1bed1;
  border-radius: 2px;
  width: 230px;
  height: 422px;
  padding: 0 16px 23px;
  position: relative;
  & img {
    width: 228px;
    height: 256px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.imageDiv {
  width: 228px;
  height: 236px;
}

.priceDiv {
  display: flex;
  align-items: flex-end;
  gap: 3px;
  margin-bottom: 13px;
  & span {
    font-weight: 600;
    font-size: 12px;
    line-height: 163%;
    color: #64748b;
    text-decoration: line-through;
  }
  & p {
    font-weight: 600;
    font-size: 20px;
    line-height: 98%;
    color: #000;
  }
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #000;
  margin-bottom: 10px;
}

.rateDiv {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rateText {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #64748b;
}

.orderCountText {
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: -0.02em;
  color: #64748b;
}

.btnsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  & button {
    background: #3f7f6d;
    border-radius: 2px;
    padding: 5px 29px;
    width: 91px;
    height: 31px;
    font-weight: 600;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #fff;
  }
  & button:nth-child(2) {
    background: #d55b5b;
  }
}
