.main {
  display: flex;
  height: 500px;
  gap: 30px;
  @media (max-width: 1300px) {
    height: 400px;
  }
  @media (max-width: 1100px) {
    height: 300px;
    gap: 20px;
  }

  
}

.mainImage {
  width: 500px;
  height: 499px;
  object-fit: cover;
  @media (max-width: 1300px) {
    width: 350px;
    height: 350px;
  }
  @media (max-width: 1100px) {
    width: 251px;
    height: 259px;
  }
}

.smallImage {
  background-color: transparent;
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    @media (max-width: 1300px) {
      width: 96px;
      height: 98px;
    }
    @media (max-width: 1100px) {
      width: 76px;
      height: 78px;
    }
  }
}

.smallImageDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 1100px) {
    gap: 10px;
  }
}
