@mixin textStyle {
  font-weight: 400;
  font-size: 14px;
  color: #101828;
}

.mainWrap {
  width: 100%;
  position: relative;
}

.mainBtn {
  background: #fafafa;
  border: 1px solid #d1d5dc;

  padding: 0 12px;
  min-width: 205px;
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  @include textStyle();
}

.selectItems {
  background: #fafafa;
  border: 1.5px solid #d1d5dc;
  padding: 0 12px;
  width: 100%;
  height: 32px;
  text-align: left;
  transition: 0.5s ease;
}

.selectItems:hover {
  border: 1.5px solid #3f7f6d;
}

.selectItems:last-child {
  border-radius: 0 0 10px 10px;
}

.selectItemsWrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 3;
}

.btnAct {
  border: 1.5px solid #3f7f6d;
}
.selectArr {
  transition: 0.5s ease;
  transform: rotate(-90deg);
}

.selectArrAct {
  transition: 0.5s ease;
  transform: rotate(0deg);
}

.selectTitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 154%;
  color: #364153;
  margin-bottom: 8px;
}
