/* flex items-center gap-1 absolute top-4 right-10 lg:right-0  */
.langBtn {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 40px;
}

/* w-72 h-40 bg-white rounded-2xl absolute top-4 right-10 shadow-lg py-4 px-5 flex flex-col gap-3 sm:right-auto sm:left-10 md:left-10   */

.modal {
    width: 289px;
    height: 159px;
    border-radius: 20px;
    background: #fff;
    padding: 16px 22px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    position: absolute;
    top: 16px;
    right: 40px;
    z-index: 100;
}



@media (max-width:641px) {
    .langBtn {
        top: 12px;
        right: 18px;
    }

    .modal {
        width: 250px;
    }
}

.drawerWrap {
    width: 100%;
    padding: 27px 15px 20px;
    border-radius: 25px;


}

.drawerRadius {
    border-radius: 25px;
}

.closeBtn {
    position: absolute;
    --pos: 18px;
    top: var(--pos);
    right: var(--pos);
}

{

  id: 'CZ32159',

  note: null,

  type: 'locker',

  name: 'AlzaBox Ml. Vožice -Obr. Míru(Flop)',

  depot: '0152367',

  lockerProvider: 'AlzaBox',

  partnerReference: null,

  openingHours: {

    monday: [ { open: '00:00', close: '23:59' } ],

    tuesday: [ { open: '00:00', close: '23:59' } ],

    wednesday: [ { open: '00:00', close: '23:59' } ],

    thursday: [ { open: '00:00', close: '23:59' } ],

    friday: [ { open: '00:00', close: '23:59' } ],

    saturday: [ { open: '00:00', close: '23:59' } ],

    sunday: [ { open: '00:00', close: '23:59' } ]

  },

  location: {

    address: {

      city: 'Mladá Vožice',

      country: 'CZ',

      street: 'Obránců míru  337',

      zip: '39143',

      floorSpecification: null,

      department: null,

      note: null,

      propertyNumber: '337'

    },

    coordinates: { latitude: 49.527679, longitude: 14.808572 }

  },

  contactInfo: {

    name: 'AlzaBox Ml. Vožice -Obr. Míru(Flop)',

    phone: '225373373',

    email: 'info@dpd.cz',

    web: 'www.dpd.cz'

  },

  paymentOptions: {

    prepaidAllowed: false,

    cardPaymentAllowed: false,

    codAllowed: true,

    onlineCodAllowed: true,

    cashPaymentAllowed: false

  },

  enabled: true,

  dropOffAllowed: true,

  dropOffWithLabel: true,

  dropOffWithoutLabel: false,

  features: {

    openInLateAfternoon: true,

    openOnWeekends: true,

    expressAllowed: false,

    returnAllowed: true,

    pickupAllowed: true

  },

  photos: [],

  partner: 'Vinted',

  unavailability: null,

  occupancy: 57,

  pickupPointResult: 'CZ32159, Obránců míru  337, 39143 Mladá Vožice CZ'

}