.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 21px;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.linksWrap {
  display: flex;
  align-items: center;
  gap: 14px;

  & img {
    height: 17px;
  }
}

.footerDesc {
  font-weight: 400;
  font-size: 11px;
  color: #99a1af;
  margin-top: 13px;
  margin-bottom: 13px;
}

.logoWrap {
  width: 173px;
}

.listTitle {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 2px;
}

.listItem {
  font-weight: 400;
  font-size: 11px;
  color: #99a1af;
}

.bankDetailWrap {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  border-left: 1px solid #1e2939;
  padding-left: 25px;
  & p {
    font-weight: 400;
    font-size: 11px;
    color: #99a1af;
  }

  & p:first-child {
    font-weight: 700;
    font-size: 13px;
    color: #99a1af;

    @media (max-width: 500px) {
      color: white;
    }
  }

  @media (max-width: 1220px) {
    border-left: none;
    padding-left: 0;
  }

  @media (max-width: 500px) {
    width: 100%;
    padding-top: 29px;
    border-top: 1px solid #1e2939;
    margin-block: 29px;
  }
}
