.wrap {
    display: flex;

}

.inp {
    width: 530px;
    height: 38px;
    border: 3px solid #F7CD56;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    letter-spacing: -0.02em;
    color: #000;
    padding-left: 15px;
    outline: none;
}

.btn {
    width: 66px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7CD56;
}


@media only screen and (max-width: 1350px) {
    /* Стили для экранов шириной 600px и меньше */
    .inp{
    width: 400px;

    }
  }

  @media only screen and (max-width: 1150px) {
    /* Стили для экранов шириной 600px и меньше */
    .inp{
    width: 250px;

    }
  }

  @media only screen and (max-width: 950px) {

    /* Стили для экранов шириной 600px и меньше */
    .inp{
        width: 100%;
    }
}
