.actionBlock {
  border: 1.2px solid #e5e7eb;
  border-radius: 10px;
  padding: 25px;
  width: 253px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  & button {
    border-radius: 10px;
    width: 100%;
    height: 39px;
    padding: 0 16px;

    font-weight: 500;
    font-size: 14px;
    background-color: white;

    display: flex;
    align-items: center;
    gap: 8px;
  }

  & button:nth-of-type(1) {
    color: white;
    background-color: #3f7f6d;
  }
  & button:nth-of-type(2) {
    border: 1px solid #3f7f6d;
    color: #3f7f6d;
  }
  & button:nth-of-type(3) {
    border: 1.2px solid #d1d5dc;
    color: #364153;
  }
  & button:nth-of-type(4) {
    color: white;
    background-color: #d55b5b;
  }

  @media (max-width:500px) {
    width: 100%;
  }
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #101828;
}
