.btn {
  border-radius: 10px;
  width: 100%;
  height: 44px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: #3f7f6d;

  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.btn:disabled {
  background-color: #d1d5dc;
}

.btn:not(:disabled):hover {
  background-color: #346c5c;
}
