.wrapper {
  width: 100%;
  overflow: hidden;
  @media (max-width: 850px) {
    height: 100%;
  }
}

.track {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.45s ease;

  @media (max-width: 850px) {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.block {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.block:last-child {
  width: auto;
}

.step {
  padding: 9px 23px;
  height: 38px;
  border-radius: 4px;
  border: 1.5px solid #d1d5db;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  cursor: default;
}

.active {
  background: #2563eb;
  color: #fff;
}

.arrow {
  width: 100%; // можно менять
  height: 2px;
  background: #9ca3af;
  margin: 0 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 10px solid #9ca3af;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }
}

@media (max-width: 850px) {
  .arrow {
    width: 2px;
    height: 24px;
    margin: 12px auto;
    background: #9ca3af;

    &::after {
      top: auto;
      bottom: -6px;
      right: 50%;
      transform: translateX(50%);

      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid #9ca3af;
      border-bottom: 0;
    }
  }
}


.trackGrid {
  width: 100%;
  display: grid;
  grid-template-columns:
    1fr minmax(40px, 1fr) 1fr minmax(40px, 1fr) 1fr;
  align-items: center;
  column-gap: 20px; // расстояние между кнопкой и стрелкой (вместо margin)
}

.trackGrid .step {
  justify-self: center;
}

.trackGrid .arrow {
  width: 100%;
  margin: 0;              // важно
  justify-self: stretch;  // растягиваем по колонке
}

@media (max-width: 850px) {
  .trackGrid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .trackGrid .arrow {
  width: 2px;
  margin: 0;              // важно
  justify-self: center;  // растягиваем по колонке
}

  .arrow {
    width: 2px;
    height: 30px;
    margin: 0 auto;
  }

  .arrow::after {
    top: auto;
    bottom: -6px;
    right: 50%;
    transform: translateX(50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #9ca3af;
    border-bottom: 0;
  }
}