.wrapper {
  width: 100%;
  overflow: hidden;
  @media (max-width: 500px) {
    height: 100%;
  }
}

.track {
  display: flex;
  align-items: center;
  transition: transform 0.45s ease;

  @media (max-width: 500px) {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.block {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.step {
  padding: 9px 23px;
  height: 38px;
  border-radius: 4px;
  border: 1.5px solid #d1d5db;
  background: #fff;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
}

.active {
  background: #2563eb;
  color: #fff;
}

.arrow {
  width: 100%; // можно менять
  height: 2px;
  background: #9ca3af;
  margin: 0 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 10px solid #9ca3af;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }
}

@media (max-width: 500px) {
  .arrow {
    width: 2px;
    height: 24px;
    margin: 12px auto;
    background: #9ca3af;

    &::after {
      top: auto;
      bottom: -6px;
      right: 50%;
      transform: translateX(50%);

      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid #9ca3af;
      border-bottom: 0;
    }
  }
}
