.main {
  border: 1px solid #696969;
  width: 19px;
  height: 19px;
}

.mainChecked {
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #047857;
}

.check {
  display: none;
}
