* {
  // border: 1px solid red;
}

.main {
  border-radius: 2px;
  width: 963px;
  height: auto;
  max-width: auto !important;
  padding: 44px 56px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @media (max-width: 1060px) {
    width: 750px;
  }
  @media (max-width: 800px) {
    width: 650px;
  }
  @media (max-width: 720px) {
    width: 500px;
    padding: 30px 36px 50px;
  }
  @media (max-width: 720px) {
    width: auto;
    padding: 20px 16px 20px;
  }
}

.title {
  font-weight: 500;
  font-size: clamp(16px, 2.5vw, 28px);
  line-height: 84%;
  color: #333;
}

.buttonDiv {
  display: flex;
  align-items: center;
  gap: 45px;
  @media (max-width: 570px) {
    gap: 25px;
  }
  button {
    padding: 7px 24px 7px 24px;
    width: 230px;
    height: 35px;
    background: #3f7f6d;
    font-weight: 500;
    font-size: clamp(11px, 2.5vw, 18px);
    text-transform: lowercase;
    text-align: center;
    color: #fff;
    &:disabled {
      background-color: #b0b2b1;
    }
    @media (max-width: 570px) {
      width: auto;
      height: auto;
    }
  }
  button:nth-child(2) {
    background-color: transparent;
    font-weight: 500;
    font-size: clamp(11px, 2.5vw, 18px);
    text-transform: lowercase;
    text-align: center;
    color: #3f7f6d;
    text-decoration: none;
  }
}

.cardAndButtonWrap {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  img {
    width: 20px;
    @media (max-width: 720px) {
      width: 16px;
    }
  }
  @media (max-width: 720px) {
    top: 28px;
    right: 30px;
  }
  @media (max-width: 420px) {
    top: 20px;
    right: 20px;
  }
}
