.container {

  width: 100%;

  border: 1.48px solid #e5e7eb;
  border-radius: 14px;
  padding: 32px;

  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: white;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    height: 100%;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    color: #1f2937;
    margin: 0;
  }

  .toggleBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #4b5563;

    .arrow {
      width: 16px;
      height: 16px;
      transition: transform 0.2s ease;
    }

    .arrowRotated {
      transform: rotate(180deg);
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    /* Простая анимация появления */
    animation: fadeIn 0.2s ease-out;
  }

  .docRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    border: 1.48px solid #E5E7EB;
    border-radius: 10px;

    background: #f9fafb;
    
  }

  .leftInfo {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .fileIcon {
    color: #10b981;
    display: flex;
    align-items: center;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .docName {
    font-size: 15px;
    font-weight: 600;
    color: #111827;
  }

  .docDate {
    font-size: 13px;
    color: #9ca3af;
    margin-top: 2px;
  }

  .statusBadge {
    font-size: 13px;
    font-weight: 500;
    color: #10b981;
    background: #ecfdf5;
    padding: 4px 12px;
    border-radius: 20px;
    border: 1px solid #d1fae5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
