backend/static/
Frontend/node_modules
Frontend/dist
/backend/promocode/migrations
/backend/product/migrations
/backend/RegisterLogin/migrations
/backend/reviews/migrations
/backend/payment/migrations
/backend/order/migrations
/backend/chipBasket/migrations
/backend/account/migrations
/backend/contactform/migrations
/backend/contactform/__pycache__
/backend/account/__pycache__
/backend/backend/__pycache__
/backend/chipBasket/__pycache__
/backend/order/__pycache__
/backend/payment/__pycache__
/backend/product/__pycache__
/backend/promocode/__pycache__
/backend/RegisterLogin/__pycache__
/backend/reviews/__pycache__
/backend/db.sqlite3
/backend/base_product_images/base_product_images