.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .descAndBtnWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .buttonWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      img {
        width: 22px;
      }
    }
  }
  
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000;
  }
  
  .priceWrap {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    p {
      font-weight: 600;
      font-size: 20px;
      line-height: 98%;
      color: #000;
      font-family: var(--ft);
    }
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 123%;
      color: #64748b;
      text-decoration: line-through;
    }
  }
  
  .basketBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 39px;
    background: #3f7f6d;
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    position: relative;
    & img {
      position: absolute;
      left: 80px;
      width: 19px;
      @media (max-width: 380px) {
        left: 60px;
      }
    }
  }
  .basketBtn:hover {
    background-color: #356658;
  }
  
  .deliveryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: 500;
    font-size: clamp(12px, 2.5vw, 14px);
    line-height: 214%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #64748b;
    border: 1px solid #64748b;
    background-color: transparent;
    width: 100%;
    height: 36px;
    img {
      width: 23px;
    }
  }
  