.main {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.block {
  border: 1.48px solid #e5e7eb;
  border-radius: 14px;
  padding: 24px;
  width: 100%;

  & h5 {
    font-weight: 600;
    font-size: 18px;
    color: #0a0a0a;
    margin-bottom: 39px;
  }
}

.blockItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.48px solid #f3f4f6;
  padding-bottom: 8px;
  margin-bottom: 12px;
  gap: 15px;

  & p {
    font-weight: 400;
    font-size: 14px;
    color: #4a5565;
  }

  & p:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #101828;
    text-align: right;
  }
}

.blockItem:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
