.main {
  width: 100%;
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1.2px solid #e5e7eb;
  border-radius: 16px;
  background-color: white;
  padding: 24px;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.blockTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  & p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #4a5565;
  }
}

.blockMain {
  width: 100%;

  & .text {
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    padding: 12px 16px;
    width: 100%;
    height: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

.blocksWrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block: 24px;

  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.deliveryBigBlockElem {
  display: flex;
  align-items: center;
  gap: 12px;

  & span {
    font-weight: 400;
    font-size: 12px;
    color: #45556c;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    color: #0f172b;

    @media (max-width: 500px) {
      white-space: normal;
      word-break: break-word;
    }
  }

  & img {
    width: 16px;
  }
}

.addressBlock {
  margin-left: 28px;

  & p {
    font-weight: 400;
    font-size: 16px;
    color: #0f172b;
  }

  & span {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #314158;
  }
}

.bigBlockWrap {
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 20px;
  width: 100%;
  display: flex;

  & div:first-child {
    width: 50%;
  }

  @media (max-width: 700px) {
    flex-wrap: wrap;
    gap: 16px;

    & div:first-child {
      width: 100%;
    }

    & .bigBlockFirst {
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 1px solid #e5e7eb;
    }
  }
}

.num {
  font-family: var(--ft);
}
