.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 669px;
  z-index: 1000;
}

@mixin button {
  border-radius: 7px;
  height: 35px;
  padding: 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: clamp(14px, 2.5vw, 16px);
  background-color: transparent;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  height: 100%;

  padding-inline: 50px;
  padding-block: 60px;
  padding-top: 84px;

  @media (max-width: 426px) {
    padding-inline: 20px;
    padding-block: 30px;
    padding-top: 84px;
  }
}

.langToggleWrap {
  position: absolute;
  right: 55px;
  top: 30px;

  @media (max-width: 500px) {
    right: 10px;
  }
}

.title {
  font-weight: 600;
  font-size: clamp(20px, 5vw, 26px);
  line-height: 90%;
  color: #333;
  margin-bottom: clamp(20px, 5vw, 27px);
}

.desc {
  font-weight: 500;
  font-size: clamp(14px, 5vw, 16px);
  line-height: 150%;
  color: #333;
}

.policyLink {
  display: block;
  text-decoration: none;
  color: #0052b4;
  margin-bottom: 20px;
}

.descWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: clamp(20px, 5vw, 27px);
}

.btnsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;

  & button {
    @include button;
  }

  & button:first-child {
    border: 1px solid #d55b5b;
    color: #d55b5b;
  }

  & button:nth-child(2) {
    border: 1px solid #64748b;
    color: #64748b;
  }

  & button:last-child {
    width: 150px;
    border: 1px solid #047857;
    color: white;
    background-color: #047857;
  }

  @media (max-width: 670px) {
    justify-content: space-around;
    // flex-wrap: wrap;

    & button {
      width: 100%;
    }
    & button:last-child {
      width: 100% !important;
    }
  }
}

.mMainWrapBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  & button {
    @include button;
    width: 100%;
  }

  & button:first-child {
    min-width: 132px;
    border: 1px solid #047857;
    color: white;
    background-color: #047857;
  }

  & button:nth-child(2) {
    border: 1px solid #d55b5b;
    color: #d55b5b;
    min-width: 101px;
  }
}

.mobileBtnWrap {
  display: flex;
  width: 100%;
  gap: 11px;

  & button {
    width: 100%;
  }
}

.customMobile {
  @include button;
  width: 100% !important;
  border: 1px solid #64748b !important;
  color: #64748b !important;
  background-color: transparent !important;
}

.closeBtn {
  position: absolute;
  top: clamp(17px, 2.5vw, 30px);
  right: clamp(17px, 2.5vw, 30px);
  background-color: transparent;

  & img {
    width: 20px;
  }
}
