@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 3px solid rgba(179, 169, 169, 0.3); /* Светлый цвет для фона */
  border-top: 3px solid #ffffff; /* Цвет спиннера */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
