.swiper {
  width: 850px;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.main {
  width: 950px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 121px;
  height: 121px;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  color: #d3d4d5;
  position: absolute;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
