.main {
  border-radius: 10px;
  width: 222px;
  height: 220px;
  padding: 20px 15px;
  background-color: #f0f0f0;
  @media (max-width: 970px) {
    width: 182px;
    height: 180px;
  }
  @media (max-width: 830px) {
    width: 142px;
    height: 140px;
    padding-top: 10px;
  }
  @media (max-width: 616px) {
    width: 91px;
    height: 102px;
    border-radius: 5px;
    padding-top: 10px;
  }
  p {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 87%;
    letter-spacing: -0.01em;
    color: #000;
    @media (max-width: 830px) {
      font-size: 18px;
    }
    @media (max-width: 616px) {
      font-size: 12px;
    }
  }
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  font-size: 24px;
  line-height: 87%;
  letter-spacing: -0.01em;
  color: #000;
  img:nth-child(1) {
    opacity: 0;
  }
}
