.main {
  width: 100%;
  max-width: 231px;
  height: auto;
  background: #fff;
  background-repeat: no-repeat;
  padding: 8px;
  padding-bottom: 10px;

  transition: 0.5s ease;
  position: relative;
}

.main:hover {
  background-color: #f0f0f0;
}

.image {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.likeBtn {
  position: absolute;
  top: 18px;
  right: 26px;
  background-color: transparent;
  z-index: 4;
}

.price {
  font-family: var(--ft);
  font-weight: 600;
  font-size: clamp(10px, 2.5vw, 20px);
  color: #000;
}

.prodName {
  cursor: pointer;
  font-weight: 600;
  font-size: clamp(10px, 2.5vw, 14px);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Высота = 3 строки (зависит от шрифта) */
  line-height: 1.5em; /* Регулируем высоту строки */

  & span {
    font-family: var(--ft);
  }
}

.rateDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    font-weight: 500;
    font-size: clamp(11px, 2.5vw, 18px);
    color: #64748b;
  }
}

.descWrap {
  display: flex;
  flex-direction: column;
  gap: clamp(7px, 2.5vw, 10px);

  @media (max-width: 500px) {
    gap: 7px;
  }
}

.buyBtn {
  background: #047857;
  border-radius: 2px;
  width: min(112px, 25vw);
  height: min(31px, 5vw);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: clamp(11px, 2.5vw, 18px);
  color: #fff;
  transition: 0.5s ease;
}

.buyBtn:hover{
background-color: #06664B;
}



.skeleton {
  width: 100%;
  max-width: 231px;
  height: auto;
  background: rgba(204, 204, 204, 0.14);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  transition: 0.5s ease;
  position: relative;

  .skeletonImage {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #ccc;
    margin-bottom: 10px;
  }

  .skeletonDetails {
    flex: 1;

    .skeletonName {
      width: 100%;
      height: clamp(10px, 2.5vw, 20px);
      background-color: #e3e3e3;
      margin-top: 10px;
      border-radius: 10px;
    }

    .skeletonPrice {
      width: 60%;
      height: clamp(8px, 2.5vw, 16px);
      background-color: #e3e3e3;
      border-radius: 8px;
    }

    .skeletonButton {
      background-color: #e3e3e3;
      border-radius: 4px;
      width: min(112px, 25vw);
      height: min(31px, 5vw);
      margin-top: 10px;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeletonImage,
.skeletonName,
.skeletonPrice,
.skeletonButton {
  background: linear-gradient(90deg, #e3e3e3 25%, #f0f0f0 50%, #e3e3e3 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}

.mobCountDiv {
  width: 68px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #64748b;
  border-radius: 2px;
  padding: 0 8px;

  & button {
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #465060;
    background-color: transparent;
    cursor: pointer;
  }
  & button:hover {
    color: #000;
  }
  & p {
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #465060;
  }
}

@media only screen and (max-width: 600px) {
  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
@media only screen and (max-width: 430px) {
 
  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
@media only screen and (max-width: 376px) {

  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
@media only screen and (max-width: 325px) {
 

  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
