.main {
  width: 100%;
  max-width: 231px;
  height: auto;
  background: #fff;
  background-repeat: no-repeat;
  padding: 8px;
  padding-bottom: 10px;

  transition: 0.5s ease;
  position: relative;
}

.mainSceleton {
  width: 230px;
  // height: 380px;
  background: #aaa0a0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 5px;

  transition: 0.5s ease;
  position: relative;
}

.main:hover {
  background-color: #f0f0f0;
}

.image {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.likeBtn {
  position: absolute;
  top: 18px;
  right: 26px;
  background-color: transparent;
  z-index: 4;
}

.price {
  font-family: var(--ft);
  font-weight: 600;
  font-size: clamp(10px, 2.5vw, 20px);
  color: #000;
}

.prodName {
  cursor: pointer;
  font-weight: 600;
  font-size: clamp(10px, 2.5vw, 14px);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Высота = 3 строки (зависит от шрифта) */
  line-height: 1.5em; /* Регулируем высоту строки */

  & span {
    font-family: var(--ft);
  }
}

.rateDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    font-weight: 500;
    font-size: clamp(11px, 2.5vw, 18px);
    color: #64748b;
  }
}

.descWrap {
  display: flex;
  flex-direction: column;
  gap: clamp(7px, 2.5vw, 10px);

  @media (max-width: 500px) {
    gap: 7px;
  }
}

.buyBtn {
  background: #047857;
  border-radius: 2px;
  width: min(112px, 25vw);
  height: min(31px, 5vw);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: clamp(11px, 2.5vw, 18px);
  color: #fff;
}

.skeleton {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;

  .skeletonImage {
    width: 90%;
    height: 157px;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }

  .skeletonDetails {
    flex: 1;
    margin-left: 10px;

    .skeletonName {
      width: 100%;
      height: 20px;
      background-color: #f0f0f0;
      margin-bottom: 10px;
    }

    .skeletonPrice {
      width: 60%;
      height: 16px;
      background-color: #f0f0f0;
    }

    .skeletonRate {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .skeletonRating {
        width: 80px;
        height: 16px;
        background-color: #f0f0f0;
        margin-right: 10px;
      }

      .skeletonCount {
        width: 40px;
        height: 16px;
        background-color: #f0f0f0;
      }
    }

    .skeletonButton {
      width: 80px;
      height: 30px;
      background-color: #f0f0f0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.mobCountDiv {
  width: 68px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #64748b;
  border-radius: 2px;
  padding: 0 8px;

  & button {
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #465060;
    background-color: transparent;
    cursor: pointer;
  }
  & button:hover {
    color: #000;
  }
  & p {
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #465060;
  }
}

@media only screen and (max-width: 600px) {
  .skeleton {
    width: 132px;
    .skeletonDetails {
      width: 90%;
      flex: 1;

      .skeletonName {
        width: 90%;
        height: 20px;
        background-color: #f0f0f0;
        margin-bottom: 10px;
      }
      .skeletonButton {
        width: 80px;
        height: 20px;
        margin-top: 10px;
      }
    }
    .skeletonImage {
      height: 122px;
    }
  }
  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
@media only screen and (max-width: 430px) {
  .skeleton {
    width: 132px;
    .skeletonDetails {
      width: 90%;
      flex: 1;

      .skeletonName {
        width: 90%;
        height: 20px;
        background-color: #f0f0f0;
        margin-bottom: 10px;
      }
      .skeletonButton {
        width: 80px;
        height: 20px;
        margin-top: 10px;
      }
    }
    .skeletonImage {
      height: 122px;
    }
  }
  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
@media only screen and (max-width: 376px) {
  .skeleton {
    width: 132px;
    .skeletonDetails {
      width: 90%;
      flex: 1;

      .skeletonName {
        width: 90%;
        height: 20px;
        background-color: #f0f0f0;
        margin-bottom: 10px;
      }
      .skeletonButton {
        width: 80px;
        height: 20px;
        margin-top: 10px;
      }
    }
    .skeletonImage {
      height: 122px;
    }
  }

  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
@media only screen and (max-width: 325px) {
  .skeleton {
    width: 132px;
    .skeletonDetails {
      width: 90%;
      flex: 1;

      .skeletonName {
        width: 90%;
        height: 20px;
        background-color: #f0f0f0;
        margin-bottom: 10px;
      }
      .skeletonButton {
        width: 80px;
        height: 20px;
        margin-top: 10px;
      }
    }
    .skeletonImage {
      height: 122px;
    }
  }

  .likeBtn {
    img {
      width: 15px;
      height: 13px;
    }
  }

  .likeBtn {
    top: 15px;
    right: 15px;
  }
}
