.main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: clamp(37px, 2.5vw, 70px);

  @media (max-width: 450px) {
    flex-direction: column-reverse;
  }
}

.tabsDiv {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  & button {
    width: 170px;
    height: 40px;
    font-weight: 500;
    font-size: clamp(16px, 2.5vw, 20px);
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
    @media (max-width: 450px) {
      width: 132px;
      height: 32px;
    }
  }
}

.btn {
  background: #eef1f4;
}

.btnAc {
  background: #97e3d5;
}

.statics {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 14px 0 6px 13px;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    & h4 {
      font-weight: 400;
      font-size: clamp(24px, 2.5vw, 32px);
      line-height: 66%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #000;
    }
    & span {
      font-weight: 700;
      font-size: clamp(12px, 2.5vw, 14px);
      line-height: 150%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #64748b;
    }
  }

  & p {
    font-weight: 400;
    font-size: clamp(22px, 2.5vw, 32px);
    line-height: 66%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
  }
}

.orderStatic {
  border-left: 10px solid #97e3d5;
}

.deliveredStatic {
  border-left: 10px solid #64748b;
}

.staticsWrap {
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 2.5vw, 34px);
}
