.typeBtn {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: #fff;

  border-radius: 16px;
  max-width: 436px;
  width: 100%;
  height: 228px;
  min-width: 289px;
  text-align: left;

  padding: 32px;
  position: relative;

  & h4 {
    font-weight: 600;
    font-size: 18px;
    color: #101828;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  & p {
    font-weight: 400;
    font-size: 14px;
    color: #4a5565;
  }

  @media (max-width: 500px) {
    height: auto;
  }
}

.typeBtnWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 48px;
  margin-bottom: 32px;

  @media (max-width: 700px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.sellerTypeMark {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mainWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 700px) {
    padding-bottom: 100px;
  }
}
