.imageRateDiv {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  // flex-wrap: wrap;
  gap: clamp(40px, 20vw, 60px);
  @media (max-width: 1050px) {
    flex-wrap: wrap;
  }
}


.detalPageWrap {
  width: 400px;
}


.main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  margin-top: 30px;
}

.tabGap{
  margin-top: 20px;
}
