.main {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;

  border: 1.47px solid #e5e7eb;
  border-radius: 3px;
  padding: 9px 17px;

  font-weight: 400;
  font-size: 14px;
  color: #4a5565;

  margin-top: 24px;
}
