.title {
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  margin-bottom: 7px;
}

.imagesWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.wrap {
  margin-top: 25px;
  padding-top: 27px;
  border-top: 1px solid #1e2939;
}
