.Foooter_Container {
  background-color: black;
  padding: 100px 30px;
  color: white !important;
  position: relative;

  @media (max-width: 769px) {
    padding: 100px 30px 170px;
  }
}

.Inner_Container {
  display: flex;
  max-width: 1440px;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.Navigate_Container {
  display: flex;
  width: 100%;
  margin-left: 70px;
  justify-content: space-between;
  padding-right: 20px;
  // margin-inline: 30px;

  ul,
  li {
    list-style: none;
  }

  li {
    margin-bottom: 12px;
  }

  & h3 {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-bottom: 24px;
  }
}

.logo {
  margin-bottom: 35px;
  width: 99px;
}

// .logo_container img {
//   max-height: 90%;
//   max-width: 90%;
//   min-width: 50px;
// }

.logo_container h1 {
  display: flex;
  flex-direction: column;
  margin: 0 7px;

  line-height: 28px;
  text-transform: uppercase;
  font-size: 40px;
}

.logo_container h1 span {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 26px;
}

.LinkNavigate {
  font-weight: 500;
  font-size: 14px;
  color: #b5b5b5 !important;
  text-decoration: none;
}

.btnNavigate {
  font-weight: 500;
  font-size: 14px;
  color: #b5b5b5;
  text-decoration: none;
  background-color: transparent;
}

.ButtonNavigate {
  color: white !important;
  padding: 0 30px 30px 30px !important;
  font-weight: 500;
  font-size: 16px;
}

.Info_Container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 6px;

  h1 {
    margin: 0;
    color: #ffcc00;
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
  }

  & p {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }

  & span {
    font-family: var(--ft);
    font-weight: 300;
    font-size: 11px;
    color: #b5b5b5;
  }
}

.bottomDesc {
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  letter-spacing: -0.03em;
  color: #b1b1b1;
}

@media (max-width: 970px) {
  .Inner_Container {
    flex-direction: column;
    // align-items: center;
  }
  .Navigate_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    max-width: none;
    // padding: 40px 20px;
    text-align: start;
    margin-left: 0;
  }

  .Info_Container {
    width: auto;
  }
}

.mobileMain {
  background-color: black;
  padding: 44px 15px 70px;
  // text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.mobileLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
}

.mobLinkMain {
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.mobLogo {
  width: 87px;
  margin-top: 65px;
  margin-bottom: 25px;
}

.mobInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 28px;

  & p {
    text-align: left;
    color: #b1b1b1;
    font-weight: 600;
    font-size: 11px;
    line-height: 191%;
    letter-spacing: 0.02em;
    color: #b1b1b1;
  }
}

.mobBottomDesc {
  font-weight: 400;
  font-size: 12px;
  color: #b1b1b1;
  white-space: nowrap;
}

.mobBottomWrap {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.messBtns {
  // width: 180px;
  display: flex;
  // justify-content: center;
  align-items: center;
  // margin-bottom: 20px;
  // gap: clamp(10px, 2.5vw, 16px);
  gap: 16px;
  margin-top: 30px;

  @media (max-width: 500px) {
    margin-bottom: 45px;
  }
}

.messBtns a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  display: block;

  & img {
    height: clamp(14px, 2.5vw, 18px);
  }
}

// .messBtns a  {
//   font-weight: 500;
//   font-size: clamp(12px, 2.5vw, 20px);
//   color: #b5b5b5;
//   cursor: pointer;
// }

.bottomElem {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 769px) {
    bottom: 60px;
  }
}

.bankDetailWrap {
  width: 262px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  & p {
    font-weight: 500;
    font-size: 16px;
    color: #b5b5b5;
  }

  @media (max-width: 500px) {
    margin-top: 48px;
    margin-bottom: 50px;
  }
}

.payMethodWrap {
  border-block: 1px solid #333;
  padding-block: 40px;
  margin-top: 40px;

  & h2 {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }

  & div {
    display: flex;
    align-items: center;
    gap: 11px;
    flex-wrap: wrap;
  }

  @media (max-width: 500px) {
    padding-block: 30px;
  }
}
