.main {
  display: flex;
  flex-direction: column;
  width: 390px;
  gap: 20px;
}

.ratingDiv {
  display: flex;
  gap: 14px;
  align-items: center;
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #64748b;
  }
}

.nameCategoryDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.categoryName {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #64748b;
}

.name {
  font-weight: 600;
  font-size: 24px;
  color: #000;

  & span {
    font-family: var(--ft);
  }
}

.price {
  font-family: var(--ft);
  font-weight: 500;
  font-size: 24px;
  line-height: 82%;
  color: #000;
}

.addBasketBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  background-color: #000;
  width: 390px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & img {
    position: absolute;
    left: 100px;
  }
}

.deliveryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #64748b;
  border: 1px solid #64748b;
  background-color: transparent;
  width: 390px;
  height: 36px;
}
