.wrap {
  @media (max-width: 426px) {
    background-color: black;
    height: 100vh;
  }
}

.closeBtn {
  background-color: transparent;
  position: absolute;
  top: clamp(15px, 3vw, 30px);
  right: clamp(15px, 3vw, 30px);

  & img {
    width: 26px;
  }
  @media (max-width: 426px) {
    & img {
      width: 15px;
    }
  }
}

.content {
  padding: clamp(15px, 2vw, 25px) clamp(30px, 4vw, 50px);
  display: flex;
  gap: clamp(25px, 5vw, 68px);
  align-items: center;

  @media (max-width: 700px) {
    padding-top: 70px;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 20px;
  }
  @media (max-width: 426px) {
    padding: 0;
    padding-top: 50px;
  }
}

.slider {
  display: flex;
  align-items: center;
  gap: clamp(15px, 3vw, 50px);

  & button {
    background-color: transparent;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & button:has(img[id="left"]) {
    transform: rotate(180deg);
  }

  @media (max-width: 700px) {
    & button {
      display: none;
    }
  }
}

.bigImg {
  width: calc(100vw - 600px);
  height: calc(100vh - 60px);
  min-width: 320px;
  object-fit: cover;
  // *mob
  @media (max-width: 700px) {
    width: 100%;
    height: 410px;
  }

  @media (max-width: 426px) {
    border-radius: 10px;
    margin-bottom: 30px;
  }
}

.sideImages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 168px;
  height: min(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: #aeadad transparent;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aeadad;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  & img {
    width: 158px;
    height: 158px;
    margin-right: 5px;
    object-fit: cover;
    flex-shrink: 0; /* Предотвращает сжатие */
  }

  @media (max-width: 700px) {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 100%;
    height: 88px;
    white-space: nowrap; /* Запрещает перенос элементов */

    & img {
      width: 60px;
      height: 78px;
      flex-shrink: 0; /* Гарантирует, что картинки не сожмутся */
    }
  }

  @media (max-width: 426px) {
    margin-left: 15px;
    gap: 10px;

    & img {
      border-radius: 6px;
    }
  }
}
