.titleWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & div {
    display: flex;
    align-items: center;
    gap: 12px;

    & h3 {
      font-weight: 600;
      font-size: 18px;
      color: #101828;
    }
  }

 
}

.main {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: #fff;

  border-radius: 16px;
  padding: 32px;
  max-width: 896px;
  width: 100%;
}

.infoList {
  list-style: none;
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;

  & li {
    display: flex;
    flex-direction: column;
    width: calc(50% - 16px);

    & p {
      width: 50%;
      font-weight: 500;
      font-size: 14px;
      color: #4a5565;
      margin-bottom: 4px;
    }

    & span {
      font-weight: 500;
      font-size: 14px;
      color: #4a5565;
    }
  }

  @media (max-width:500px) {
    flex-direction: column;
  }
}
