@import url("../../verifyForm/VerifyForm.module.scss");

.emailText {
  color: #3f7f6d;
}

.form {
  gap: 20px;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 500px) {
    padding-bottom: 40px;
  }
}

.emailImg {
  margin-bottom: 24px;
}
