@mixin desc() {
  font-weight: 400;
  font-size: 16px;
  color: #4a5565;
}

@mixin title() {
  font-weight: 400;
  font-size: clamp(24px, 5vw, 30px);
  color: #101828;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 831px;
}

.mainTitleWrap {
  background: linear-gradient(180deg, #f9fafb 0%, #f0fdf4 100%);
  width: 100%;
  padding-block: 96px;

  & h2 {
    font-weight: 400;
    font-size: clamp(36px, 5vw, 48px);
    line-height: 100%;
    text-align: center;
    color: #101828;
    margin-bottom: 8px;
  }

  & p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #4a5565;
  }

  @media (max-width: 500px) {
    padding-inline: 14px;
  }
}

.yellowList {
  list-style: disc;
  padding-left: 23px;
  margin-bottom: 16px;

  & li {
    @include desc();
  }
}

.yellowList li::marker {
  color: #fcbf09; /* жёлтый */
}

.block {
  & h3 {
    @include title();
    margin-bottom: 25px;
  }
  & p {
    @include desc();
    margin-bottom: 16px;
  }
}

.advantageBlocksWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantageBlock {
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 1.2px solid #f3f4f6;
  border-radius: 14px;
  padding: 25px;
  width: 100%;

  & h4 {
    font-weight: 400;
    font-size: 18px;
    color: #101828;
    margin-bottom: 8px;
  }

  & p {
    font-weight: 400;
    font-size: 14px;
    color: #4a5565;
    margin-bottom: 0;
  }
}

.realExpBlock {
  background: linear-gradient(
    168deg,
    rgba(254, 252, 232, 0.6) 0%,
    rgba(255, 247, 237, 0.6) 50%,
    rgba(250, 245, 255, 0.6) 100%
  );
  border-radius: 14px;
  padding: 25px;
  max-width: 831px;

  & h3 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    color: #101828;
  }

  & p {
    @include desc();
    margin-bottom: 16px;
  }
}

.url {
  font-weight: 400;
  font-size: 16px;
  color: #047857;
}
