.img {
  width: 120px;
  height: 114px;
  min-width: 73px;
  min-height: 69px;
  object-fit: cover;

  @media (max-width: 500px) {
    width: 73px;
    height: 69px;
  }
}

.links {
  text-decoration: none;
}

.prodName {
  font-weight: 600;
  font-size: clamp(12px, 2.5vw, 16px);
  line-height: 123%;
  color: #000;
}
.prodDesc {
  font-weight: 500;
  font-size: clamp(11px, 2.5vw, 15px);
  line-height: 131%;
  color: #64748b;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-left: 10px;
  border-bottom: 1px solid #ced4d7;
  @media (max-width: 360px) {
    padding: 0;
  }
}
.main:first-child {
  border-top: 1px solid #ced4d7;
  margin-top: 50px;
  @media (max-width: 360px) {
    margin-top: 20px;
  }
}

.imageDescWrap {
  display: flex;
  gap: 20px;
  @media (max-width: 360px) {
    gap: 10px;
  }
}
.descDiv {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.countPrice {
  font-weight: 300;
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 123%;
  color: #000;
  span:first-child {
    font-weight: 300;
    font-size: clamp(12px, 2.5vw, 14px);
  }
  span {
    font-weight: 600;
    font-size: clamp(12px, 2.5vw, 16px);
    line-height: 123%;
    color: #000;
  }
}
