.searchWrap {
  background: #fafafa;
  width: 100%;
  min-width: 205px;
  height: 40px;
  border: 1px solid #d1d5dc;
  padding: 0px 12px;

  display: flex;
  align-items: center;
  gap: 12px;

  transition: 0.5s ease;

  @media (max-width: 500px) {
    border-radius: 10px;
  }
}

.labelWrap {
  width: 100%;
}

.searchInp {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  border: none;
  font-family: var(--ft);
}

.searchWrap:has(.searchInp:focus) {
  border: 1px solid #3f7f6d;
}

.searchTitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 154%;
  color: #364153;
  margin-bottom: 8px;
}
