.prodNumber {
  font-weight: 400;
  font-size: clamp(12px, 2.5vw, 16px);
  line-height: 123%;
  color: #888;
  span {
    font-weight: 500;
    color: #000;
  }
}
.main {
}

.mainWithOpen {
  margin: 40px 0 100px;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  button {
    background-color: transparent;
    margin-bottom: 15px;
  }
}

.delivTimeText {
  font-weight: 500;
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 123%;
  color: #047857;
}

.timeTextWrap {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.smallCardDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // по умолчанию 3 карточки
  gap: 30px;
  margin: 40px 0 100px;

  @media (max-width: 970px) {
    grid-template-columns: repeat(2, 1fr); // по умолчанию 3 карточки
  }

  @media (max-width: 470px) {
    grid-template-columns: repeat(1, 1fr); // по умолчанию 3 карточки
  }
  
}
.loaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.commentBtn {
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  background-color: transparent;
  margin-top: 20px;
}
