.timeline {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 25px;
  max-width: 393px;
  background: #fff;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #101828;
  margin-bottom: 23px;
}

.item {
  position: relative;
  display: flex;
  gap: 14px;
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 0;
  }
}

.item::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 32px;
  width: 2px;
  height: calc(100% - 30px);
  background: #dcdfe3;
}

.completed::before {
  background: #3f7f6d;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #dcdfe3;
  // border: 3px solid #fff;
  //   box-shadow: 0 0 0 2px #dcdfe3;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed .icon {
  background: #3f7f6d;
  //   box-shadow: 0 0 0 2px #2f7f4f;
}

.label {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.date {
  font-size: 14px;
  color: #7a7a7a;
  font-family: var(--ft);
}
