.ResetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.innerContainer {
    max-width: 1024px;
    width: 100%;
    padding: 30px;
    border: 1px solid;
    border-color: black;
    border-radius: 24px;
}

.inputCustom {
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.ButtonC {
    cursor: pointer;
}