.title {
  font-weight: 500;
  font-size: 13px;
  color: #364153;
  display: flex;
  align-items: center;
}

.title::after {
  content: "*";
  display: block;
  margin-left: 3px;
  color: red;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  color: #6a7282;
  display: block;
  margin-block: 8px;
}

.fileInpContent {
  border: 1.28px solid #d1d5dc;
  border-radius: 16px;
  height: 48px;
  background: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  margin-top: 8px;

  & p {
    font-weight: 500;
    font-size: 13px;
    color: #4a5565;
  }

  & span {
    font-weight: 500;
    font-size: 12px;
    color: #99a1af;
  }
}

.fileLabel {
  margin-top: 8px;
}

.fileInpsWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;

  & label {
    width: 100%;
  }

  & input {
    display: none;
  }
}
