@import url("../accountInfo/AccountInfo.module.scss");

.title {
  font-weight: 500;
  font-size: 14px;
  color: #4a5565;
  margin-bottom: 4px;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  color: #101828;
}

.firstBlock {
  margin-bottom: 17px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
    gap: 20px;


  & div {
    width: 50%;
  }

  @media (max-width:500px) {
    flex-wrap: wrap;
    & div{
      width: 100%;
    }
  }
}

.lastBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
    gap: 20px;


  & div {
    width: 50%;
  }

   @media (max-width:500px) {
    flex-wrap: wrap;
    & div{
      width: 100%;
    }
  }
}

.devider {
  display: block;
  width: 100%;
  height: 1.28px;
  background: #e5e7eb;
}

.docWrap{
  margin-bottom: 30px;
}
