.main {
  //   background: #ebebeb;
  background-color: transparent;
  border-radius: 2px;
  width: 289px;
  height: 45px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 750px) {
    width: 250px;
  }
  @media (max-width: 460px) {
    width: 230px;
  }
  @media (max-width: 426px) {
    width: calc(100vw - 34px);
  }
  div {
    display: flex;
    gap: 10px;
    align-items: center;
    & img{
      width: 29px;
      height: 29px;
      border: none;
      object-fit: cover;
    }
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #000;
  }
  button {
    background-color: transparent;
  }
}
