.main {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: #fff;
  max-width: 856px;

  border-radius: 16px;
  padding: 32px;
  width: 100%;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;

  & h2 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #101828;
  }
}

.twoInpWrap {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.inpWrapMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.errorText {
  font-weight: 400;
  font-size: 14px;
  margin-top: 7px;
  color: #d55b5b;
}
