.orderStatic {
  width: 300px;
  border-left: 2px solid #eef1f4;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 14px 0 0 17px;
  & p:nth-child(1) {
    font-weight: 400;
    font-size: clamp(16px, 2.5vw, 32px);
    letter-spacing: -0.01em;
  }
  & p:nth-child(2) {
    font-weight: 400;
    font-size: clamp(20px, 2.5vw, 32px);
    letter-spacing: -0.01em;
    text-align: center;
  }
  @media (max-width: 400px) {
    padding: 4px 0 0 6px;
    height: 60px;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: clamp(26px, 2.5vw, 36px);
  padding-top: clamp(15px, 2.5vw, 25px);
  padding-bottom: clamp(15px, 2.5vw, 25px);
}
