.main {
  height: 100%;
  padding: 138px 109px 57px 39px;
  display: flex;
  gap: 70px;
  @media (max-width: 950px) {
    padding: 22px 39px 57px 39px;
  }
  @media (max-width: 750px) {
    gap: 40px;
  }
  @media (max-width: 670px) {
    padding: 22px 10px 57px 10px;
    gap: 20px;
  }
}

.catalogItemBtn {
  background-color: transparent;
}

.catalogItemWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalogTitle {
  font-weight: 600;
  font-size: clamp(20px, 2.5vw, 32px);
  color: #000;
}
.categoryCardWrap {
  margin-top: 15px;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.categoryCardBtnWrap {
  display: flex;
  gap: 67px;
  margin-top: 15px;
  @media (max-width: 700px) {
    gap: 20px;
  }
}

.categoryCardDiv {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  padding-right: 67px;
  border-right: 1px solid #ebebeb;
  @media (max-width: 700px) {
    padding-right: 20px;
  }
}

.categoryTextDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categoryText {
  font-weight: 600;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #000;
  transition: color 0.5s ease;
  cursor: pointer !important;

  &:hover {
    color: #f7cd56;
  }
  @media (max-width: 500px) {
    font-size: 12px;
  }
}
