.telegramWrap {
  position: fixed;
  right: 31px;
  bottom: 31px;
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 1199;

  &:hover .label {
    opacity: 1;
    transform: translateX(0);
  }

  &:hover .telegramBtn {
    transform: scale(1.1);
  }

  &:hover .telegramBtn::before {
    opacity: 1;
  }

  @media (max-width: 500px) {
    bottom: 70px;
  }
}

/* Текст */
.label {
  padding: 12px 18px;
  border-radius: 10px;
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: #101828;
  width: 332px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  // white-space: nowrap;

  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 17px solid #101828;
  }

  @media (max-width: 500px) {
    width: 200px;
  }
}

/* Кнопка */
.telegramBtn {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #136d35  ;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.25s ease;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: 20px;
    background: #25d3659e ;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.25s ease;
    z-index: -1;
  }

  @media (max-width: 500px) {
    width: 50px;
    height: 50px;

    & img {
      height: 25px;
    }
  }
}

.closeX {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  cursor: pointer;
}

.telegramWrap:not(.noHover):hover .label,
.telegramWrap.active .label {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.telegramWrap.noHover .label {
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
}

.label {
  pointer-events: none;
}
