.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 166px;
  border-bottom: 1px solid #ced4d7;
  border-top: 1px solid #ced4d7;
  position: relative;
  width: 732px;

  @media (max-width: 1440px) {
    width: calc(100vw - 200px);
  }
  @media (max-width: 1000px) {
    gap: 20px;
  }
  @media (max-width: 800px) {
    gap: 0;
    width: calc(100vw - 100px);
  }
  @media (max-width: 426px) {
    width: calc(100vw - 34px);
    gap: 40px;
  }
  @media (max-width: 376px) {
    gap: 25px;
  }
}

.img {
  width: 120px;
  height: 114px;
  object-fit: cover;
  @media (max-width: 426px) {
    width: 81px;
    height: 89px;
  }
}

.adaptiveWrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 80px;

  @media (max-width: 700px) {
    width: 200px;
    flex-wrap: wrap-reverse;
    gap: 20px;
  }
  @media (max-width: 376px) {
    width: 150px;
    flex-wrap: wrap-reverse;
    gap: 20px;
  }
  @media (max-width: 320px) {
    width: auto;
    flex-wrap: wrap-reverse;
  }
}

.imageTextWrap {
  display: flex;
  gap: 13px;
}

.textDiv {
  margin-top: 20px;
  width: 200px;
  h3 {
    font-weight: 600;
    font-size: clamp(14px, 2.5vw, 16px);
    line-height: 123%;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em; /* Высота = 3 строки (зависит от шрифта) */
    line-height: 1.5em; /* Регулируем высоту строки */
  }
}

.descText {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #000;
  font-family: var(--ft);
  span {
    color: #64748b;
    margin-right: 3px;
  }
}

.mobTextDiv {
  @media (max-width: 331px) {
    width: 140px;
  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em; /* Высота = 3 строки (зависит от шрифта) */
    line-height: 1.5em; /* Регулируем высоту строки */
  }
}

.countDiv {
  padding: 5px 11px;
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: center;
  border: 2px solid #465060;

  font-weight: 500;
  font-size: 20px;
  line-height: 98%;
  p {
    color: #465060;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 15px;
    height: 15px;
    color: #465060;
    font-size: 25px;
    line-height: 25px;
  }
  button:hover {
    color: black;
  }
  @media (max-width: 426px) {
    order: -3;
    gap: 10px;
  }
}

.priceDiv {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  p {
    font-weight: 600;
    font-size: clamp(14px, 2.5vw, 20px);
    line-height: 98%;
    color: #000;
    text-wrap: nowrap;
    font-family: var(--ft);
  }
  span {
    font-weight: 600;
    font-size: clamp(12px, 2.5vw, 14px);
    line-height: 140%;
    color: #64748b;
    text-decoration: line-through;
    text-wrap: nowrap;
  }
}

.deleteLikeDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 83px;
  button {
    background-color: transparent;
    img {
      @media (max-width: 376px) {
        width: 15px;
      }
    }
  }
}

.cardChecked {
  position: absolute;
  top: 8px;
  left: -18px;
}
