@mixin pad {
  padding: 0 15px;
}

.orderlink {
  font-weight: 400;
  font-size: 14px;
  color: #3f7f6d;
  text-decoration: none;
  min-width: 128px;
  @include pad;
}

.greyText {
  font-weight: 300;
  font-size: 14px;
  color: #4a5565;
}

.blackText {
  font-style: 14px;
}

.prodWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  @include pad;
  min-width: 89px;
}

.tableWrap {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.date {
  @include pad;
  min-width: 138px;
}

.price {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  @include pad;
}
