.title {
  font-weight: 700;
  font-size: 24px;
  color: #101828;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  color: #4a5565;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
