/* flex items-center gap-1 absolute top-4 right-10 lg:right-0  */
.langBtn {
    display: flex;
    gap: 5px;
    align-items: center;
    /* position: absolute;
    top: 16px;
    right: 40px; */
}

/* w-72 h-40 bg-white rounded-2xl absolute top-4 right-10 shadow-lg py-4 px-5 flex flex-col gap-3 sm:right-auto sm:left-10 md:left-10   */

.modal {
    width: 289px;
    /* height: 159px; */
    border-radius: 20px;
    background: #fff;
    padding: 16px 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    top: 16px;
    right: 40px;
}



@media (max-width:641px) {
    .langBtn {
        top: 12px;
        right: 18px;
    }

    .modal {
        width: 250px;
    }
}

.drawerWrap {
    width: 100%;
    padding: 27px 15px 65px;
    border-radius: 25px;


}

.drawerRadius {
    border-radius: 25px;
}

.closeBtn {
    /* position: absolute; */
    --pos: 18px;
    top: var(--pos);
    right: var(--pos);
}

.langBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.langLabel {
    font-weight: 500;
    font-size: 18px;
}

.langIcon {
    width: 20px;
    height: 20px;
}



.modalTitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

.langOption {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 9999px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.langOption:hover {
    background-color: #e0e0e0;
}

.langInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.active {
    font-weight: 600;
}



.closeBtn {
    border: none;
    background: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    cursor: pointer;
}