.main {
  max-width: 272px;
  min-width: 143px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1.6px solid #ced4d7;
  padding: 18px;
  background-color: white;
}
.mainErr {
  max-width: 272px;
  min-width: 143px;
  width: 100%;

  display: flex;
  flex-direction: column;

  border: 1.6px solid #ced4d7;
  padding: 18px;
  background-color: white;
  border: 1px solid #dc2626;
}

.nameInp {
  background: #fafafa;
  border: 1px solid #ced4d7;
  width: 100%;
  height: clamp(36px, 2.5vw, 45px);
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 18px);
  color: #7d7d7d;
  padding-left: 10px;
  outline-color: #cbcdce;
  transition: 0.5s ease;
}

.nameInp:hover {
  background: #f0f0f0;
}
.nameInp:focus {
  background: #f0f0f0;
}
.nameInp:disabled {
  background-color: #7d7d7d76;
}

.inpLabel {
  & p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7d7d7d;
  }
}

.addPhotoDiv {
  background: #64748b;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 18px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;

  & p {
    margin: 6px 0;
  }

  & input {
    display: none;
  }
}

.addPhotoDivDis {
  background: #7d7d7d76;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 18px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & p {
    margin: 6px 0;
  }

  & input {
    display: none;
  }
}

.variantImageWrap {
  position: relative;
  width: 100%;
  height: 150px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ced4d7;
  }

  & button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease;

    & img {
      border: none;
      width: 15px;
      height: 15px;
    }
  }

  &:hover {
    & button {
      opacity: 1; // Убираем кнопку при наведении на родительский элемент
    }
  }
}

.priceDiv {
  display: flex;
  border: 1px solid #ced4d7;
  background: #fafafa;

  & button {
    padding-left: clamp(5px, 2.5vw, 9px);
    padding-right: clamp(5px, 2.5vw, 9px);
    background: transparent;
    opacity: 0;
    transition: 0.5s ease;
  }

  & input {
    background-color: transparent;
    width: 100%;
    height: clamp(36px, 2.5vw, 45px);
    font-weight: 400;
    font-size: clamp(14px, 2.5vw, 18px);
    color: #7d7d7d;
    padding-left: 10px;
    outline: none;
    border: none;
    font-family: var(--ft);
  }
}

.priceDiv:hover {
  background: #f0f0f0;
  & button {
    opacity: 1;
  }
}

.priceDiv:focus-within {
  background: #f0f0f0;
}

.deleteVariantBtn {
  background: #d55b5b;

  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 18px);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
  height: 34px;
  cursor: pointer;

  & img {
    width: 15px;
  }
}
