SECRET_KEY=CHANGE_ME_generate_with_django_get_random_secret_key
DEBUG=False

STRIPE_SECRET_KEY_TEST=sk_test_...
STRIPE_API_SECRET_KEY=sk_live_...
STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...

PAYPAL_CLIENT_ID=...
PAYPAL_CLIENT_SECRET=...
PAYPAL_WEBHOOK_ID=...
PAYPAL_MODE=sandbox

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...

PACKETA_API_KEY=...
MYGLS_USERNAME=...
MYGLS_PASSWORD=...
DPD_TOKEN=...

clientSecret=
clientID=
