.main {
  border: 1.28px solid #d1d5dc;
  border-radius: 16px;
  width: 100%;
  min-width: 230px;
}

.wrap{
  width: 100%;
}

.selectBtn {
  width: 100%;
  height: 48px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  outline: none;

  & p {
    font-weight: 400;
    font-size: 14px;
    color: #101828;
  }
}

.selectItem {
  border-block: 1px solid #d1d5dc;
  padding: 12px 16px;
  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 14px;
  color: #101828;
  text-align: left;

  background-color: transparent;
}

.selectItem:hover {
  border: 1.5px solid #3f7f6d;
}

.selectItem:last-child:hover {
  border: 1.5px solid #3f7f6d;
}

.selectItem:last-child {
  border: none;
}

.activeArrow {
  transform: rotate(-90deg);
}

.title {
  font-weight: 500;
  font-size: 13px;
  color: #364153;

  display: flex;
  align-items: center;
  gap: 5px;

  margin-bottom: 8px;
}

.title::after {
  content: "*";
  display: block;
  margin-left: 3px;
  color: red;
}
