.dateTitle {
  font-weight: 500;
  font-size: 13px;
  color: #364153;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dateTitle::after {
  content: "*";
  display: block;
  margin-left: 3px;
  color: red;
}

.inpWrap {
  border: 1.28px solid #d1d5dc;
  border-radius: 16px;
  padding: 0 16px;
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;
  gap: 11px;

  & input {
    font-weight: 300;
    font-size: 14px;
    color: #101828;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
  }
}

.inpWrap:has(input:focus) {
  border: 1.28px solid #3f7f6d;
}


.dateWrap{
    width: 100%;
}