@use "../../../../Components/Seller/shared/sellerProductForm" as form;

.main {
  display: grid;
  gap: 12px;

  & input {
    @include form.sellerFormFieldInput;
    border-radius: 0;
    padding-left: 12px;
  }
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  & p {
    font-weight: 500;
    font-size: clamp(16px, 2.5vw, 18px);
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    margin: 0;
  }

  & button {
    background: #3f7f6d;
    max-width: 144px;
    width: 100%;
    height: 33px;
    font-weight: 400;
    font-size: clamp(12px, 2.5vw, 18px);
    color: #fff;
    border: none;
    cursor: pointer;

    @media (max-width: 500px) {
      max-width: 100px;
    }
  }
}

.characWrap,
.characWrapErr {
  display: flex;

  & button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    padding: 0 12px;
    background-color: transparent;
    border: 1px solid #ced4d7;
    border-left: 0;
    cursor: pointer;
  }

  & input:nth-child(even) {
    border-right: 0;
  }
}

.characWrapErr {
  border: 1px solid #dc2626;
}

.errText {
  font-weight: 400;
  font-size: 13px;
  color: #dc2626;
  margin: 0;
}
