.main {
  & input {
    border: 1px solid #ced4d7;
    width: 100%;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    letter-spacing: -0.02em;
    padding-left: 10px;
    outline-color: #b0b1b1;
  }
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  & p {
    font-weight: 400;
    font-size: 18px;
    line-height: 112%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
  }

  & button {
    background: #3f7f6d;
    width: 214px;
    height: 33px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
  }
}

.characWrap {
  display: flex;
  & button {
    padding: 0 14px;
    background-color: transparent;
    border: 1px solid #ced4d7;
    border-left: 0;
  }

  & input:nth-child(even) {
    border-right: 0;
  }
}
