.editBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;

  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #3f7f6d;
}


