.main {
  max-width: 252px;
  min-width: 91px;
  height: 220px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 18px 30px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: 161px 161px;
  background-position: center calc(100% - 10px);
  background-repeat: no-repeat;
  & p {
    cursor: pointer !important;
    width: 100%;
    font-weight: 600;
    font-size: clamp(12px, 2.5vw, 24px);
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Обрезка до 2 строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1.2em * 2); /* Ограничиваем высоту под 2 строки */
    line-height: 1.2em;
  }
  @media (max-width: 700px) {
    height: 182px;

  }



  @media (max-width: 510px) {
    height: 102px;
    padding: 5px 18px 0px;
    background-position: center calc(100% - 0px);
    background-size: 90px 90px;
  }
}

.sceleton {
  border-radius: 10px;
  width: 222px;
  height: 220px;
  padding-top: 18px;
  border: 1px solid #a1a1a1;
  background-color: #f0f0f0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  & div {
    width: 80%;
    height: 20px;
    background-color: #a1a1a1;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .sceleton {
    width: 172px;
    height: 170px;
  }
}

@media only screen and (max-width: 450px) {
  .sceleton {
    width: 91px;
    height: 102px;
  }
}
