@mixin flex($align, $gap) {
  display: flex;
  justify-content: space-between;
  align-items: $align;
  gap: $gap;
}

@mixin text($color, $size, $weight) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

.main {
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 1.28px solid #e5e7eb;
  border-radius: 16px;
  max-width: 100%;
  min-width: 222px;
  width: 100%;
  height: auto;
}

.nameAndTotal {
  @include flex(center, 4px);

  & p {
    @include text(#101828, 14px, 400);
  }

  & p:last-child {
    @include text(#6a7282, 12px, 500);
  }
}

.variantAndPrice {
  @include flex(center, 0px);

  & div {
    display: flex;
    align-items: center;
    gap: 8px;

    & p {
      @include text(#4a5565, 14px, 400);
      font-family: var(--ft);
    }
  }
}

.price {
  @include text(#101828, 18px, 400);
  font-family: var(--ft);
}

.topSection {
  padding: 16px;
  border-bottom: 1.28px solid #f3f4f6;
}

.parametrWrap {
  width: 50%;

  & p {
    @include text(#6a7282, 12px, 500);
    margin-bottom: 4px;
  }

  & p:last-child {
    @include text(#101828, 14px, 400);
  }
}

.parametrsWrap {
  width: 100%;
  padding-bottom: 16px;
  @include flex(flex-start, 0px);
}

.otherContentBlock {
  padding: 16px;
}

.unitBlock {
  padding: 16px;
  @include flex(center, 0px);

  & p {
    @include text(#4a5565, 14px, 400);
  }

  & p:last-child {
    @include text(#101828, 16px, 400);
    font-family: var(--ft);
  }
}
