@mixin titleBig {
  font-weight: 400;
  font-size: clamp(20px, 2.5vw, 30px);
  line-height: 70%;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: clamp(10px, 2.5vw, 30px);
  margin-top: clamp(16px, 2.5vw, 53px);
}

@mixin titleSmall {
  font-size:clamp(16px, 2.5vw, 18px);
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: clamp(5px, 2.5vw, 10px);
}

@mixin inpText {
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: -0.02em;
}

.titleBig {
  @include titleBig();
  position: relative;
}
.titleBRequired {
  @include titleBig();
  position: relative;
}

.titleBRequired::after {
  content: "*";
  color: red;
  width: 10px;
}

.titleSmall {
  @include titleSmall();
  position: relative;
}

.titleSRequired {
  @include titleSmall();
  position: relative;
}

.titleSRequired::after {
  content: "*";
  color: red;
  width: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  & input,
  & textarea {
    width: 100%;
    border: 1px solid #ced4d7;
    padding: 10px;
    outline-color: #cbcdce;
    resize: none;
    @include inpText();
    flex-shrink: 0;
    flex-grow: 0;
  }

  & input {
    height: clamp(36px, 2.5vw, 46px);
  }

  & textarea {
    height: 140px;
  }
}
