.title {
  font-weight: 500;
  font-size: 32px;
  //   color: #101828;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  padding: 24px 0 140px;
}

.orderCardWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
}

.orderCardWrap > .orderCard {
  flex: 1 1 calc(33.333% - 14px);
  max-width: calc(33.333% - 14px);
}

@media (max-width: 1024px) {
  .orderCardWrap > .orderCard {
    flex: 1 1 calc(50% - 14px);
    max-width: calc(50% - 14px);
  }
}

/* Самое важное — вот так должно быть для 1 в ряд */
@media (max-width: 819px) {
  .orderCardWrap > .orderCard {
    flex: 1 1 100vw; /* ← только так надёжно */
    width: 100vw;
  }
}
