@import "../../../sellerPages/FinishVerificationPage/FinishVerificationPage.module.scss";

.title {
  font-weight: 500;
  font-size: 20px;
  color: $black;
}

.verificationSteps {
  @include analytBlocks();
}

.stepsWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

.completeBlock {
  border: 1.48px solid $blockBord;
  border-radius: 10px;
  padding: 15px 16px;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 12px;

  transition: 0.5s ease;

  & p {
    font-weight: 500;
    font-size: 16px;
    color: $black;
  }
}

.completeBlock:hover {
  background-color: $blue;
  border: 1.48px solid $blueBord;
}

.notCompleteBlock {
  border: 1.48px solid $blockBord;
  border-radius: 10px;
  padding: 15px 16px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.5s ease;

  & p {
    font-weight: 500;
    font-size: 16px;
    color: $black;
  }

  & span {
    @include blockDesc(14px);
  }

  & button {
    border: 1.48px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0px 12px;
    width: 86px;
    height: 32px;
    background: white;

    transition: 0.5s ease;
  }

  & button:hover {
    background-color: $black;
    color: white;
  }
}

.notCompleteBlock:hover {
  background-color: $blue;
  border: 1.48px solid $blueBord;

  & button {
    background-color: $black;
    color: white;
  }
}

.notCompleteImageAndText {
  display: flex;
  align-items: center;
  gap: 12px;
}

.requiredBlock {
  border: 1.48px solid $redBord;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  background: $redBack;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    border-radius: 8px;
    padding: 0px 12px;
    width: 86px;
    height: 32px;
    background-color: $black;
    color: white;

    transition: 0.5s ease;
  }

  & button:hover {
    background-color: $blackHover;
  }

  @media (max-width:700px) {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}

.requiredImageAndText {
  display: flex;
  align-items: center;
  gap: 14px;

  @media (max-width:500px) {
    gap: 8px;
  }
}

.requiredTitle {
  display: flex;
  align-items: center;
  gap: 12px;

  & p {
    font-weight: 500;
    font-size: 16px;
    color: $black;
  }

  & span {
    display: block;
    border: 1.48px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 2px 8px;

    background: #d4183d;

    font-weight: 500;
    font-size: 12px;
    color: white;

  }

  @media (max-width:500px) {
    gap: 8px;
  }
}

.requiredDesc {
  font-weight: 400;
  font-size: 14px;
  color: $requiredColor;
  margin-top: 4px;
  display: block;
}
