@mixin btn {
  padding: 9px 5px;
  font-weight: 400;
  font-size: clamp(12px, 2.5vw, 20px);
  background-color: transparent;
}

.main {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 426px) {
    justify-content: space-between;
    border-bottom: 2px solid #d3d4d5;
    height: 33px;
    width: 100%;
  }
}

.btnAct {
  @include btn();
  border-bottom: 2px solid #777;

  @media (max-width: 426px) {
    justify-content: space-between;
    border-bottom: 2px solid #000000;
  }
}

.btnDef {
  @include btn();
  color: #7d7b7c;
}
