.main {
  width: 100%;
  margin-top: 20px;
  height: calc(100vh - 67.85px);

  background: linear-gradient(135deg, #f9fafb 0%, #f3f4f6 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

  @media (max-width: 500px) {
    height: 100%;
  }
}
