.linkMain {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  text-decoration: none;

  & img {
    height: clamp(19px, 2.5vw, 31px);
  }

  & span {
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 24px);
    line-height: 87%;
    letter-spacing: -0.01em;
    color: #333;
  }

  & h3 {
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 24px);
    line-height: 87%;
    letter-spacing: -0.01em;
    color: #333;
  }
}
