.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.title {
  font-weight: 700;
  font-size: clamp(25px, 5vw, 31px);
  text-align: center;
  color: #101828;
  margin-block: 21px;
}
