@import url("../../resetForm/ResetForm.module.scss");

.main {
  max-width: 671px;
  width: 100%;

  padding: 20px 0;

  @media (max-width: 500px) {
    margin-top: 50px;
    padding-bottom: 80px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  @media (max-width: 500px) {
    padding: 20px;
  }
}

.nameInpWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.checkWrap {
  display: flex;
  align-items: center;

  gap: 12px;

  & p {
    font-weight: 500;
    font-size: 13px;
    color: #364153;
  }

  & a {
    color: #3f7f6d;
    text-decoration: none;
  }
}

