.sectionTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #333;
  margin-bottom: 14px;
  @media (max-width: 426px) {
    margin-bottom: 20px;
  }
}

.suplierTitle {
  font-weight: 500;
  font-size: 18px;
}

.itemCount {
    display: block;
  margin: 20px 0;
  font-weight: 400;
  font-size: 18px;
  color: #64748b;
}

.cardWrap{
    margin-bottom: 40px;
}
