.backLink {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  font-size: 14px;
  color: #4a5565;
  text-decoration: none;
  margin-top: 57px;
  margin-bottom: 15px;

  @media (max-width: 500px) {
    margin-top: 20px;
  }
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 17px;
  & h3 {
    font-weight: 500;
    font-size: 24px;
    color: #101828;
  }
  margin-block: 23px;
}

.sectionsWrapMain {
  display: flex;
  gap: 23px;

  @media (max-width: 500px) {
    margin-bottom: 80px;
  }
}

.sectionsWrapFirst {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-bottom: 23px;
}

.sectionsWrapSecond {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
