@import url("./ForSellerPage.module.scss");

.mainTitle {
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 600;
  font-size: clamp(18px, 2.5vw, 28px);
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 15px;
}

.num {
  font-family: var(--ft);
}
