@import "./LikedPage.module.scss";

.paginationDiv {
  margin-bottom: 10px;
}

.breadHide{
  display: none;
}

.spinnerWrap{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}