.titleDiv {
  padding: 45px 95px;
  border-bottom: 2px solid #d3d4d5;
  @media (max-width: 426px) {
    padding: 22px 17px;
  }
}

.title {
  font-weight: 600;
  font-size: clamp(20px, 2.5vw, 24px);
  line-height: 87%;
  color: #000;
}

.likedProdWrap {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 100%;

  @media (max-width: 769px) {
    grid-template-columns: repeat(3, minmax(132px, 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
    gap: 20px;
  }
}

.filterDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 17px;
}

.paginateDiv {
  margin-bottom: 10px;
}
