.categoryWrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.breadHide {
  display: none;
}

.title {
  font-weight: 500;
  font-size: clamp(20px, 2.5vw, 36px);
  line-height: 58%;
  letter-spacing: -0.01em;
  color: #000;
}

.categoryCardWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px; /* Расстояние между карточками на десктопе */

  @media (max-width: 870px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Уменьшение расстояния на мобильных устройствах */
  }
}

.productCardWrapMain {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 80px;
}

.productCardWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 100%;

  @media (max-width: 769px) {
    grid-template-columns: repeat(3, minmax(132px, 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
    gap: 20px;
  }
}

@media only screen and (max-width: 1350px) {
  /* Стили для экранов шириной 600px и меньше */
  .categoryWrap {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1150px) {
  /* Стили для экранов шириной 600px и меньше */
  .categoryWrap {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 950px) {
  /* Стили для экранов шириной 600px и меньше */
  .categoryWrap {
    margin-top: 20px;
    gap: 30px;
  }
}

@media only screen and (max-width: 450px) {
  /* Стили для экранов шириной 600px и меньше */
  .categoryCardWrap {
    gap: 8px;
    padding-bottom: 30px;
    border-bottom: 2px solid #afafaf;
  }
  .categoryWrap {
    margin-bottom: 40px;
  }
}
