.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 17px;
  height: 600px;
  @media (max-width: 426px) {
    height: auto;
    padding: 30px 17px 70px 17px;
  }
}

.contentWrap {
  width: 617px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 650px) {
    width: auto;
  }
}

.contentDesc {
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 20px);
  line-height: 220%;
  letter-spacing: -0.02em;
  color: #000;
}

.title {
  font-weight: 600;
  font-size: clamp(20px, 2.5vw, 24px);
  line-height: 87%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #047857;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
  width: 242px;
  height: 46px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  &:hover {
    background-color: #000;
    color: white;
  }
  @media (max-width: 550px) {
    width: 100%;
  }
}

.btnDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
