@import url("./GeneralDataProtection.module.scss");

.titleWrap {
  margin-top: 20px;
  background: linear-gradient(
    161deg,
    rgba(250, 254, 254, 0.26) 0%,
    rgba(247, 148, 86, 0.26) 50%,
    rgba(250, 245, 255, 0.26) 100%
  );
  height: 362px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 60px;
  text-align: center;

  & h1 {
    font-weight: 400;
    font-size: clamp(36px, 5vw, 48px);
  }

  & p {
    font-weight: 400;
    font-size: 18px;
    color: #4a5565;
  }
}

.textTitle {
  font-weight: 400;
  font-size: clamp(24px, 5vw, 30px);
  color: #101828;
  margin-bottom: 24px;
}

.textDesc {
  font-weight: 400;
  font-size: 16px;
  color: #4a5565;
}

.yellowList {
  list-style: disc;
  padding-left: 23px;
  margin-bottom: 16px;

  & li {
    font-weight: 400;
    font-size: 16px;
    color: #4a5565;
    margin-bottom: 12px;

    & span {
      font-weight: 700;
    }
  }
}

.yellowList li::marker {
  color: #fcbf09; /* жёлтый */
}

.noticeBlock,
.noticeEnd {
  background:
    linear-gradient(170deg, #fefce8 0%, #f9fafb 100%),
    linear-gradient(
      9deg,
      rgba(250, 254, 254, 0.26) 0%,
      rgba(247, 205, 86, 0.26) 50%,
      rgba(250, 245, 255, 0.26) 100%
    );
  padding: 17px;
  border-radius: 10px;
}

.noticeEnd {
  background:
    linear-gradient(170deg, #e8f4fe 0%, #f9fafb 100%),
    linear-gradient(
      9deg,
      rgba(250, 251, 254, 0.26) 0%,
      rgba(86, 217, 247, 0.26) 50%,
      rgba(245, 247, 255, 0.26) 100%
    );
}

.fourPartBlock {
  border: 1.47px solid #e5e7eb;
  border-radius: 14px;
  padding: 25px;
  margin-block: 12px;

  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  & p {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
    margin-bottom: 7px;
  }
}

.commonBlock {
  background:
    linear-gradient(170deg, #fefce8 0%, #f9fafb 100%),
    linear-gradient(
      9deg,
      rgba(250, 254, 254, 0.26) 0%,
      rgba(247, 205, 86, 0.26) 50%,
      rgba(250, 245, 255, 0.26) 100%
    );
  padding: 33px;
  border-radius: 14px;
}

.titleSmall {
  font-weight: 400;
  font-size: 18px;
  color: #101828;

  & span {
    font-weight: 700;
  }
}

.contactForDataBlock {
  border: 1.47px solid #f3f4f6;
  border-radius: 14px;
  padding: 25px ;
  width: 100%;
  height: 214px;

  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);

    & p{
      margin-bottom: 10px;
    }

    & h4{
      margin-bottom: 20px;
    }
}
