

.imageRateDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // flex-wrap: wrap;
  gap: 40px;
  @media (max-width:1050px) {
    flex-wrap: wrap;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
}

.loaderWrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
