.listWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 100%;
  margin-top: clamp(18px, 2.5vw, 50px);

  // @media (max-width: 769px) {
  //   grid-template-columns: repeat(3, minmax(182px, 1fr));
  // }

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
    gap: 20px;
  }
}

.paginateDiv {
  margin-top: 35px;
}

.spinnerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-weight: 300;
    font-size: clamp(20px, 2.5vw, 40px);
    color: #656565;
  }
}
