.title {
  font-weight: 400;
  font-size: clamp(20px, 2.5vw, 48px);
  line-height: 44%;
  letter-spacing: -0.01em;
  color: #000;
  margin-top: 70px;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: clamp(20px, 2.5vw, 30px);

  & button {
    --paddY: 10px;
    --paddX: 70px;
    --paddSmallY: 9px;
    --paddSmallX: 20px;

    padding: clamp(var(--paddSmallY), 2.5vw, var(--paddY))
      clamp(var(--paddSmallX), 5vw, var(--paddX));

    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 20px);
    color: #fff;
    background: #64748b;
  }

  & button:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 210px;
    gap: 20px;
    background: #047857;

    @media (max-width: 426px) {
      & img {
        display: none;
      }
    }
  }
}
