@import url("./PrivacyPolicy.module.scss");

.titleWrap{
    background: linear-gradient(161deg, rgba(250, 254, 254, 0.26) 0%, rgba(247, 204, 86, 0.26) 50%, rgba(250, 245, 255, 0.26) 100%);
margin-bottom: 20px;
}

.contactForDataBlock{
    margin-bottom: 30px;
}