.dateTitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 154%;
  color: #364153;
  margin-bottom: 8px;
}

.dateWrap {
  width: 100%;
}

.inpWrap {
  border: 1px solid #d1d5dc;
  padding: 0 12px;
  width: 100%;
  min-width: 205px;
  border-radius: 16px;

  height: 40px;
  background: #fafafa;

  display: flex;
  align-items: center;
  gap: 11px;

  transition: 0.5s ease;

  @media (max-width: 500px) {
    border-radius: 10px;
  }
}

.input {
  font-weight: 300;
  font-size: 14px;
  color: #101828;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-family: var(--ft);
}

.inpWrap:has(.input:focus) {
  border: 1px solid #3f7f6d;
}
