.swiperContainer {
  position: relative;
  width: 100%;
  height: auto; // или auto
  background: #ffffff;
  @media (max-width: 955px) {
    width: 950px !important;
  }

  @media (max-width: 500px) {
    width: 100% !important;
  }
}

.swiper {
  width: calc(100% - 265px) !important;
  height: 460px !important;

  @media (max-width: 955px) {
    width: 950px !important;
  }

  @media (max-width: 500px) {
    width: calc(100% - 20px) !important;

    height: 270px !important;
  }

  @media (max-width: 400px) {
    width: calc(100% - 20px) !important;

    height: 270px !important;
  }

  @media (min-width: 1550px) {
    height: calc(100% + 50px) !important;
  }
}

.swiperSlide {
  width: 100% !important;
}

.bannerImg {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
  @media (max-width: 955px) {
    width: 950px !important;
  }
  @media (max-width: 500px) {
    width: 100% !important;
    height: 210px !important;
  }
  @media (max-width: 401px) {
    object-fit: contain;
    height: 190px !important;
  }
  @media (max-width: 361px) {
    object-fit: contain;
    height: 150px !important;
  }
  @media (min-width: 1550px) {
    object-fit: cover;
    height: auto !important;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.bannerVideo {
  width: 100%;
  height: 400px !important;
  object-fit: cover;
  // width: 100% !important;
  // height: 400px !important;
  // object-fit: contain;
  @media (max-width: 500px) {
    height: 210px !important;
  }
  @media (min-width: 1550px) {
    object-fit: cover;
    height: auto !important;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  border-radius: 50%;
  transform: translateY(-50%);

  & img {
    height: 19px;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.swiperButtonPrev {
  left: 40px;
}

.swiperButtonNext {
  right: 40px;
}

.swiperPagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.paginationActive {
  width: 8px; /* Width of the bullet */
  height: 8px; /* Height of the bullet */
  background: #000; /* Default bullet color */
  opacity: 1; /* Ensure bullets are fully opaque */
  border-radius: 50%; /* Make the bullets round */
  margin: 0 4px;
  background: #3f7f6d; /* Active bullet color */
}

.left {
  transform: rotate(180deg);
}

.videoWrapper {
  position: relative;

  .bannerVideo {
    width: 100%;
    height: auto;
  }

  .videoControls {
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 30px;
    display: flex;
    gap: 10px;
    z-index: 10;
    align-items: center;
    @media (max-width: 1550px) {
      bottom: 20px;
    }
    @media (max-width: 500px) {
      left: 15px;
    }

    button {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 4px;
      & img {
        width: 25px;
        height: 25px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }
    }

    input[type="range"] {
      width: 120px;
      cursor: pointer;
      accent-color: #3f7f6d;
    }
  }
}

.videoWrapper {
  .videoControls {
    input[type="range"] {
      width: 100px;
      cursor: pointer;
      accent-color: #3f7f6d;
    }
  }
}

.buttonSlide {
  width: 100% !important;
  height: 400px !important;
  background-size: cover;
  background-position: center;
  position: relative;
  @media (max-width: 500px) {
    height: 210px !important;
  }

  & button {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: white;
    color: #3f7f6d;
    font-weight: 700;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
  }
}

.noiseControl {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 30px;
  bottom: 0px;
  @media (max-width: 500px) {
    right: 0px;
  }
}

.noiseControl input {
  writing-mode: bt-lr;
  /* Вертикальное направление */
  -webkit-appearance: slider-vertical;
  /* Для Safari */
  width: 8px;
  /* толщина */
  height: 100px;
  /* высота */
  accent-color: #3f7f6d;
}

.noiseControl button {
  width: 45px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
