.main {
  border: 1.2px solid #e5e7eb;
  border-radius: 10px;
  padding: 25px;
  min-width: 272px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #101828;
}

.textElementTitle {
  font-weight: 500;
  font-size: 13px;
  color: #4a5565;
  margin-bottom: 5px;
}

.textElementDescWrap {
  display: flex;
  align-items: center;
  gap: 8px;

  & p {
    font-weight: 300;
    font-size: 14px;
    color: #101828;
  }
}

.textElementWrap {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); // два столбца
  gap: 25px; // расстояние между колонками и строками

  @media (max-width: 426px) {
    grid-template-columns: 1fr;
  }
}
